.card {
  margin-bottom: 30px;
  background-color:whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  border: 0;
  border-radius: 0;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;


  li {
    margin-right: 10px;
  }
}
.btn-outline-secondary {
  color: black;
  border-color:black;
  
}
.text-info {
  color:black !important;
  font-weight: bold;
}
.text-info-title {
  color:black !important;
  font-weight: bold;
  font-size:x-large;
}

.komentar{
  border: lightgray solid;
  border-width: 1px;
  padding-left: lpx; 
  background-color: white;
}

.kom{
  padding-left: 10px;
  color: red;
}
.breadcrumb {
  border: white;
  background-color:white;

}
.a{
  color: black !important;
}