.card {
  margin-bottom: 30px;
  background-color:whitesmoke;
  
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;


  li {
    margin-right: 10px;
  }
}
.btn-outline-secondary {
  color: black;
  border-color:black;
  
}
.text-info {
  color:black !important;
  font-weight: bold;
}
.text-info-title {
  color:black !important;
  font-weight: bold;
  font-size:x-large;
}

