#pocetnaSlikaDiv * {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border-style: ridge;
    border-width:2px;
    border-color: black;
    
}

#rezervirajSvojStolDiv * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin-bottom: 2%;
    margin-top: 5%;
}

#inputBotun {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

#botun {
    font-size: 20px;
    border-radius: 8px;
    padding: 16px;
    border: 2px solid darkgray;
    background-color: gray;  
    font-weight: bold;
}

#unos {
   
    background-position: 10px 10px;  
    padding-left: 40px;
    margin-right: 1%;  
   
    
}
#naslov {
    font-size: 300%;
    font-style: initial;

}
