.card {
    margin-bottom: 100px;
    margin-top: 50px;
    
  }
  ul.post-tags {
    padding: 0;
    display: inline-flex;
    list-style: none;
  }
  .btn-outline-secondary {
    color: black;
    border-color:black;
    
  }
  .text-info {
    color:black !important;
    font-weight: bold;
  }
  .text-info-title1 {
    display: block;
    color:black !important;
    font-weight: bold;
    font-size:xx-large;
    text-align: center;
   
  }
  
  