
#pozadina {
    border: 2px solid black;
    padding: 25px;
    background-image: url("../images/pocetna_slika.jpg");    
    background-repeat: no-repeat;
  background-size: cover; 
  resize: both;


}