
#pozadina {
  border: 2px solid black;
  padding: 25px;
 
  background-repeat: no-repeat;
  background-size: cover; 
  resize: both;
  
}
#prijava {
    
  
  border-width: 0px;
 
  
}
#prijava1 { 
 

 
  padding: 10px;
  
 
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
}
#noviKorisnik {
 

  display: block;
   
    position: relative;
}
#botunCentar{
  display: flex;
  justify-content: center;
  
}