

#inputBotun {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
#grad {
    display: flex;
    justify-content: center;
    align-content: center;
   

}

.clanak{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
   

    max-width: 200vh;
  
    align-items: left;
    text-align: left;

}

.bread{
    display: flex;
    background-color: white;
   
   

}
.aaa{
    color: black !important;
   
  }

  .rez{
    background: black;
    color:white !important;
    border-color: white;
    
  }
  .search{
    max-width: 30vh;
  }

      
    
